<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="store.teabliss.basket.mapper.BasketMapper">

    <insert id="save">
        INSERT INTO BASKET(mem_id,img,product,name,name_eng,price,quantity,type)
        VALUES (#{memId},#{img},#{product},#{name},#{nameEng},#{price},#{quantity},#{type})
    </insert>


    <select id="getbasket">
        select *
        from BASKET
        where mem_id=#{memId}
    </select>

    <update id="update">
        UPDATE BASKET
        SET
        img = IFNULL(#{img}, img),
        name = IFNULL(#{name}, name),
        name_eng = IFNULL(#{nameEng}, name_eng),
        price = IFNULL(#{price}, price),
        product = IFNULL(#{product}, product),
        quantity = IFNULL(#{quantity}, quantity),
        type = IFNULL(#{type}, type)
        WHERE product = #{product} AND mem_id = #{memId}
    </update>

    <delete id="delete">
        DELETE FROM BASKET
        WHERE 1=1
        AND id = #{id}  AND mem_id = #{memberId}
    </delete>

</mapper>