<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.teabliss.ingredient.mapper.IngredientMapper">

    <insert id="createIngredient" parameterType="Ingredient" useGeneratedKeys="true" keyProperty="ingredientId" keyColumn="ingredient_id">
        INSERT INTO INGREDIENT (category, name, name_eng, sale, inventory, sale_status, flavor, explanation, photo)
        VALUES(#{category}, #{name}, #{nameEng}, #{sale}, #{inventory}, #{saleStatus}, #{flavor}, #{explanation}, #{photo})
    </insert>

    <select id="findByIngredients" parameterType="Ingredient" resultType="Ingredient">
        SELECT
            i.ingredient_id as id,
            i.category,
            i.name,
            i.name_eng,
            i.sale,
            i.inventory,
            i.sale_status,
            i.flavor,
            i.explanation,
            i.create_dt,
            i.update_dt
        FROM INGREDIENT i
        INNER JOIN (
            SELECT
                ingredient_id,
                category,
                name,
                name_eng,
                sale,
                inventory,
                sale_status,
                flavor,
                explanation,
                create_dt,
                update_dt
            FROM INGREDIENT
            WHERE 1=1
            <if test="category != null and category != ''">
            AND category = #{category}
            </if>
            LIMIT #{page}, #{limit}
        ) temp
        ON temp.ingredient_id = i.ingredient_id
        ORDER BY create_dt DESC
    </select>

    <select id="findById" parameterType="Long">
        SELECT
            ingredient_id as id,
            category,
            name,
            name_eng,
            sale,
            inventory,
            sale_status,
            flavor,
            explanation,
            create_dt,
            update_dt
        FROM INGREDIENT
        WHERE 1=1
        AND ingredient_id = #{value}
    </select>

    <update id="updateIngredient" parameterType="Ingredient">
        UPDATE INGREDIENT
        SET
            category = IFNULL(#{category}, category),
            name = IFNULL(#{name}, name),
            name_eng = IFNULL(#{nameEng}, name_eng),
            sale = IFNULL(#{sale}, sale),
            inventory = IFNULL(#{inventory}, inventory),
            sale_status = IFNULL(#{saleStatus}, sale_status),
            flavor = IFNULL(#{flavor}, flavor),
            explanation = IFNULL(#{explanation}, explanation),
            photo = IFNULL(#{photo}, photo)
        WHERE 1=1
        AND ingredient_id = #{id}
    </update>

    <delete id="deleteIngredient" parameterType="Long">
        DELETE FROM INGREDIENT
        WHERE 1=1
        AND ingredient_id = #{value}
    </delete>

</mapper>