<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.teabliss.member.mapper.MemberMapper">

    <insert id="createMember" parameterType="Member" useGeneratedKeys="true" keyColumn="memId">
        INSERT INTO MEMBER (email, password, nickname)
        VALUES(#{email}, #{password}, #{nickname})
    </insert>

    <select id="findByEmail" parameterType="String">
        SELECT
            *
        FROM MEMBER
        WHERE 1=1
        AND email = #{value}
    </select>

    <select id="existsByEmail" parameterType="String">
        SELECT EXISTS
        (
        SELECT 1
        FROM MEMBER
        WHERE 1=1
        AND email = #{value}
        )
    </select>

    <select id="existsByNickname" parameterType="String">
        SELECT EXISTS
        (
        SELECT 1
        FROM MEMBER
        WHERE 1=1
        AND nickname = #{value}
        )
    </select>

    <select id="findByRefreshToken" parameterType="String">
        SELECT
        *
        FROM MEMBER
        WHERE 1=1
        AND refreshToken = #{value}
    </select>
    
    <update id="updateMember" parameterType="Member">
        UPDATE MEMBER
        SET
            nickname = #{nickname}
    </update>
    
    <delete id="deleteMember" parameterType="String">
        DELETE FROM MEMBER
        WHERE 1=1
        AND email = #{value}
    </delete>

</mapper>