<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="store.teabliss.tea.mapper.TeaMapper">


<!--    <insert id="createTea" parameterType="Tea" useGeneratedKeys="true" keyColumn="TeaId">-->
<!--        INSERT INTO TEA ()-->
<!--        VALUES(#{email}, #{password}, #{nickname})-->
<!--    </insert>-->

    <insert id="save" parameterType="Tea" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Tea (price, category, review, sale, rating, rate, season, createat,name, name_eng, caffeine, description, img, inventory, sale_status)
        VALUES (#{price}, #{category}, #{review}, #{sale}, #{rating}, #{rate}, #{season}, #{createat}, #{name}, #{nameEng}, #{caffeine}, #{description}, #{img}, #{inventory}, #{saleStatus})
    </insert>

    <insert id="saveIngredient" parameterType="store.teabliss.tea.entity.TeaIngredient">
        INSERT INTO TeaIngredient (tea_id, ingredient_id)
        VALUES (#{teaId}, #{ingredientId})
    </insert>

    <insert id="saveFlavor" parameterType="store.teabliss.tea.entity.TeaFlavor">
        INSERT INTO TeaFlavor (tea_id, flavor_id)
        VALUES (#{teaId}, #{flavor})
    </insert>

    <select id="recommend">
        SELECT *
        FROM Tea
        ORDER BY rate DESC, createat
    </select>

    <select id="sale">
        SELECT *
        FROM Tea
        ORDER BY sale DESC, createat
    </select>

    <select id="topcost">
        SELECT *
        FROM Tea
        ORDER BY price DESC, createat
    </select>

    <select id="lowcost">
        SELECT *
        FROM Tea
        ORDER BY price, createat
    </select>

    <select id="all">
        SELECT *
        FROM Tea
    </select>

    <select id="count">
        SELECT count(*)
        FROM Tea
    </select>

    <select id="category">
        SELECT *
        FROM Tea
        WHERE category = #{category}
    </select>

    <select id="countByCategory">
        SELECT count(*)
        FROM Tea
        WHERE category = #{category}
    </select>

    <select id="search">
        SELECT img, name, nameEng, price
        FROM Tea
        WHERE id = #{id}
    </select>

    <select id="findbyid">
        SELECT *
        FROM Tea
        WHERE id=#{id}
    </select>

    <select id="findbyingredient">
        SELECT ingredient_id
        FROM TeaIngredient
        WHERE tea_id =#{id}

    </select>

    <select id="findbyflavor">
        SELECT flavor_id
        FROM TeaFlavor
        WHERE tea_id =#{id}

    </select>






</mapper>