<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="store.teabliss.tea.mapper.TeaMapper">


<!--    <insert id="createTea" parameterType="Tea" useGeneratedKeys="true" keyColumn="TeaId">-->
<!--        INSERT INTO TEA ()-->
<!--        VALUES(#{email}, #{password}, #{nickname})-->
<!--    </insert>-->

    <insert id="save" parameterType="Tea" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO TEA (price, category, review, sale, rating, rate, season, name, name_eng, caffeine, description, img, inventory, sale_status)
        VALUES (#{price}, #{category}, #{review}, #{sale}, #{rating}, #{rate}, #{season}, #{name}, #{nameEng}, #{caffeine}, #{description}, #{img}, #{inventory}, #{saleStatus})
    </insert>

    <insert id="saveIngredient" parameterType="store.teabliss.tea.entity.TeaIngredient">
        INSERT INTO TEAINGREDIENT (tea_id, ingredient_id)
        VALUES (#{teaId}, #{ingredientId})
    </insert>

    <insert id="saveFlavor" parameterType="store.teabliss.tea.entity.TeaFlavor">
        INSERT INTO TEAFLAVOR (tea_id, flavor_id)
        VALUES (#{teaId}, #{flavor})
    </insert>

    <select id="recommend">
        SELECT *
        FROM TEA
        WHERE delete_yn=0
        ORDER BY rate DESC, create_dt
    </select>

    <select id="sale">
        SELECT *
        FROM TEA
        WHERE delete_yn=0
        ORDER BY sale DESC, create_dt
    </select>

    <select id="topcost">
        SELECT *
        FROM TEA
        WHERE delete_yn=0
        ORDER BY price DESC, create_dt
    </select>

    <select id="lowcost">
        SELECT *
        FROM TEA
        WHERE delete_yn=0
        ORDER BY price, create_dt
    </select>

    <select id="all">
        SELECT *
        FROM TEA
        WHERE delete_yn=0
    </select>

    <select id="count">
        SELECT count(*)
        FROM TEA
        WHERE delete_yn=0
    </select>

    <select id="category">
        SELECT *
        FROM TEA

        WHERE category = #{category} AND delete_yn=0
    </select>

    <select id="countByCategory">
        SELECT count(*)
        FROM TEA
        WHERE category = #{category} AND delete_yn=0
    </select>

    <select id="search">
        SELECT img, name, name_eng, price
        FROM TEA
        WHERE name=#{product} AND delete_yn=0
    </select>

    <select id="findById" parameterType="Long">
        SELECT *
        FROM TEA
        WHERE id = #{value} AND delete_yn=0
    </select>


    <select id="findByIngredient">
        SELECT ingredient_id
        FROM TEAINGREDIENT
        WHERE tea_id =#{id} AND delete_yn=0

    </select>

    <select id="findByFlavor">
        SELECT flavor_id
        FROM TEAFLAVOR
        WHERE tea_id =#{id} AND delete_yn=0

    </select>

    <select id="seasonsort">
        SELECT *
        FROM TEA
        WHERE season=#{season} AND delete_yn=0
    </select>

    <select id="caffeinesort">
        SELECT *
        FROM TEA
        WHERE caffeine=#{caffeine} AND delete_yn=0
    </select>

    <delete id="deletetea">
        DELETE FROM TEA
        WHERE 1=1
        AND id= #{id} AND delete_yn=0
    </delete>

    <update id="patchtea">
        UPDATE TEA
        SET
            price=IFNULL(#{price}, price),
            category=IFNULL(#{category}, category),
            name=IFNULL(#{name}, name),
            name_eng=IFNULL(#{nameEng}, name_eng),
            caffeine=IFNULL(#{caffeine}, caffeine),
            description=IFNULL(#{description}, description),
            img=IFNULL(#{img}, img),
            inventory=IFNULL(#{inventory}, inventory)
        WHERE id=#{id}
    </update>

    <update id="updateIngredient" >
        UPDATE TEAINGREDIENT
        SET
            ingredient_id=IFNULL(#{ingredientId},ingredient_id)
        WHERE tea_id= #{teaId}

    </update>

    <update id="updateFlavor"  >
        UPDATE TEAFLAVOR
        SET
        flavor_id=IFNULL(#{flavor},flavor_id)

        WHERE 1=1
        AND tea_id= #{teaId}
    </update>


    <!-- 설문조사 결과로 인한 완제품 추천 -->
    <select id="surveyRecommendTea" parameterType="Tea">
        SELECT
            id,
            price,
            category,
            sale,
            rating,
            rate,
            season,
            name,
            name_eng,
            caffeine,
            description,
            img,
            inventory,
            sale_status
        FROM TEA
        WHERE 1=1
        <if test="category != null and category != ''">
        AND category IN (#{category})
        </if>
        <if test="caffeine != null and caffeine != ''">
        AND caffeine = #{caffeine}
        </if>
        <if test="priceStart != null and priceEnd != null and priceStart != '' and priceEnd != ''">
        <![CDATA[
        AND price >= #{priceStart} and price < #{priceEnd}
        ]]>
        </if>
        ORDER BY RAND()
        LIMIT 3
    </select>


    <select id="searchstatus">
        SELECT sale_status
        FROM TEA
        WHERE name=#{name}
    </select>

    <select id="searchinventory">
        SELECT inventory
        FROM TEA
        WHERE name=#{name}
    </select>

    <update id="updateinventory">
        UPDATE TEA
        SET
        inventory=inventory-#{quantity}
        WHERE name=#{name}
    </update>

    <update id="updatesale">
        UPDATE TEA
        SET
        sale=sale+#{quantity}
        WHERE name=#{name}
    </update>

    <delete id="deleteIngredient">
        DELETE FROM TEAINGREDIENT
        WHERE tea_id=#{tea_id}
    </delete>

    <delete id="deleteFlavor">
        DELETE FROM TEAFLAVOR
        WHERE tea_id=#{tea_id}
    </delete>


</mapper>